
.footer
{
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #ecf0f1;
  width: 100%;
  height:35px;
  line-height: 40px;
}
.bg-color
{
  height:100vh;
  background: linear-gradient(cyan,blue);
}


